<%- include('partials/header.ejs') %>
    <div class="container pt-5">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
                <img src="/assets/main.png" alt="Main IMG" class="img-fluid">
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 pt-5">
                <h2 class="main-text pt-5 mt-3">Reset <br> Your Password</h2>
                <% if(error) {%>
                    <p style="color: red;">
                        <%=error%>
                    </p>
                    <%}%>
                        <form action="/admin/accounts/reset-password" method="post">
                            <input id="old-password" type="password" name="oldPassword" placeholder=" Previous Password"
                                class="form-control main-input mt-4">

                            <input id="password" type="password" name="password" placeholder=" New Password"
                                class="form-control main-input mt-4">
                            <p id="show-message"></p>
                            <input id="confirm-password" type="password" name="confirmPassword"
                                placeholder="Confirm Password" class="form-control main-input mt-4">
                            <p id="show-error">
                            </p>
                            <div class="row">
                                <div class="col-5">
                                    <button style="pointer-events: none;" id="reset-button" type=" submit"
                                        class=" btn btn-sz-primary mt-5">Reset Password</button>
                                </div>

                                <div class="col-5">
                                    <a class="btn mt-5" href=" /forgotten-password">Fogotten
                                        Password?</a>
                                </div>
                            </div>
                        </form>
            </div>
        </div>
    </div>
    </div>

    <script src="/js/admin/jquery-3.3.1.min.js"></script>
    <!-- https://jquery.com/download/ -->
    <script src="/js/admin/bootstrap.min.js"></script>
    <script>
        const passRegex =
            /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*()_+])[a-zA-Z\d!@#$%^&*()_+]{8,}$/;
        const showMessage = document.getElementById('show-message')
        const showError = document.getElementById('show-error')

        const password = document.getElementById('password')
        const confirmPassword = document.getElementById('confirm-password')
        password.addEventListener('input', (event) => {
            if (!passRegex.test(event.target.value)) {
                showMessage.innerHTML =
                    'Password should contain atleast one lowercase one uppercase, one special charecter and length of 8 ';
            } else {
                showMessage.innerHTML = '';
            }
        });

        confirmPassword.addEventListener('input', (event) => {
            if (password.value != event.target.value) {
                showError.innerHTML = 'Password do not match';
                document.getElementById('reset-button').disabled = true;
            } else if (password.value === event.target.value) {
                showError.innerHTML = '';
                document.getElementById('reset-button').disabled = false;
                document.getElementById('reset-button').style.pointerEvents = 'auto';
            }
        });
    </script>
    </body>

    </html>