<div class="col-md-4 mt-10 h-100" >
  <div class="profile-work" style="position: relative; border-radius: 0 10px 0 0 ;">
      <a href="/user/account/orders">
        <p><i class="ri-bank-card-2-line"></i>my orders <i class="ri-arrow-right-s-line" style="margin-left: 40px;"></i></p>
      </a>
      <p><i class="ri-account-circle-fill"></i>Account Settings</p>
      <a href="/user/account?nav=Personal Information">Personal Information</a><br/>
      <a href="/user/account/address?nav=Manage Addresses">Manage Addresses</a><br/>
      <p><i class="ri-store-2-fill"></i>My Stuff</p>
      <a href="">My Coupons</a><br/>
      <a href="/user/review-preview?nav=My Reviews">My reviews & Ratings </a><br/>
      <a href="">My Wishlist</a><br/>
      <p></p>
      <a href="/user/logout">
        <i class="ri-logout-box-line" style="color: red;"></i> Logout
      </a>
  </div>
</div>