<!DOCTYPE html>
<!-- Coding By CodingNepal - codingnepalweb.com -->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <title>OTP Verification Form</title>
    <link rel="stylesheet" href="/css/otp.css">
    <!-- Boxicons CSS -->
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />

   <script src="/js/otp.js" defer></script>
  </head>
  <body>
    <div class="container" id="container">
      <header>
        <i class="bx bxs-check-shield"></i>
      </header>
      <h4>Enter OTP Code</h4>
      <form id="otpForm">
        <div class="input-field">
          <input type="number" id="digit1" />
          <input type="number" id="digit2" disabled />
          <input type="number" id="digit3" disabled />
          <input type="number" id="digit4" disabled />
          <input type="number" id="digit5" disabled />
          <input type="number" id="digit6" disabled />
        </div>
      <p id="error"></p>
        <button id="verify-button" type="submit" >Verify OTP</button>
      </form>
      <p>Not recieved yet??</p>
      <div id="countdown_timer"></div>
      <a id="resend_otp_button" onclick="resendOTP()" href="/resend-otp"><button class="resend-button" type="button" >Resend OTP</button></a>
    </div>

    <div class="container2">
      <div class="img">
          <img src="/assets/green_double_circle_check_mark.png" alt="">
      </div>
      
      <div class="text-body">
          <h2>Verification Success</h2>
          <p>You will be redirected to login page</p>
      </div>
    </div>
  </body>
</html>