<!DOCTYPE html>
<html lang="en">

<head>
    <title>Forgot Password - Site Zoon</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/x-icon" href="images/favicon.ico">

    <link rel="stylesheet" href="/css/admin/bootstrap.min.css">
    <link rel="stylesheet" href="/css/reset-password.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="container pt-5">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
                <img src="/assets/main.png" alt="Main IMG" class="img-fluid">
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 pt-5">
                <h2 class="main-text pt-5 mt-5">Reset <br> Your Password</h2>
                <% if(error) {%>
                    <p style="color: red;">
                        <%=error%>
                    </p>
                    <%}%>
                        <form action="/reset-password" method="post">
                            <input id="password" type=" password" name="password" placeholder=" New Password"
                                class="form-control main-input mt-5">
                            <input id="confirm-password" type=" password" name="confirmPassword"
                                placeholder=" Confirm Password" class="form-control main-input mt-5">
                            <div class="row">
                                <div class="col-3">
                                    <button id="reset-button" type=" submit"
                                        class=" btn btn-sz-primary mt-5">Reset</button>
                                </div>

                            </div>
                        </form>
            </div>
        </div>
    </div>
</body>
<script src="/js/admin/jquery-3.3.1.min.js"></script>
<script src="/js/admin/bootstrap.min.js"></script>
<script>
    const password = document.getElementById('password')
    const confirmPassword = document.getElementById('confirm-password')
    password.addEventListener('input', (event) => {
        if (!passRegex.test(event.target.value)) {
            showMessage.innerHTML =
                'Password should contain atleast one lowercase one uppercase, one special charecter and length of 8 ';
        } else {
            showMessage.innerHTML = '';
        }
    });

    confirmPassword.addEventListener('input', (event) => {
        if (password.value != event.target.value) {
            showError.innerHTML = 'Password do not match';
            document.getElementById('reset-button').disabled = true;
        } else if (password.value === event.target.value) {
            showError.innerHTML = '';
            document.getElementById('reset-button').disabled = false;
            document.getElementById('reset-button').style.pointerEvents = 'auto';
        }
    });
</script>

</html>