<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>RegistrationForm_v2 by Colorlib</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

	
		
		<!-- STYLE CSS -->
		<link rel="stylesheet" href="/css/signup.css">

		<link
		rel="stylesheet"
		href="https://cdn.jsdelivr.net/npm/intl-tel-input@17.0.13/build/css/intlTelInput.min.css"
		integrity="sha256-xpVuhxDPR39wFEQDha4W7kuMx+z9Av3dTS8MbH/RWEU="
		crossorigin="anonymous"
	  />

	  <script
      src="https://cdn.jsdelivr.net/npm/intl-tel-input@17.0.13/build/js/intlTelInput.min.js"
      integrity="sha256-uPbemOnf3P4eaeLHebLwPC71YRbu3WNBvO4ibYeBnGs="
      crossorigin="anonymous"
    ></script>

	</head>

	<body>
		
		<div class="wrapper" style="background-image: url('/assets/bg-registration-form-2.jpg');">
			<div class="inner">
				<% if(errMessage) { %>
					<p><%= errMessage %></p>
				<%} %>
				<form id="send-code" >
					<h3>Registration Form</h3>
					<div class="form-group">
						<div class="form-wrapper">
							<label for="fname">First Name</label>
							<input name="fname" type="text" id="fname" class="form-control" required>
						</div>
						<div class="form-wrapper">
							<label for="lname">Last Name</label>
							<input name="lname" type="text" id ="lname" class="form-control"required>
						</div>
					</div>
					<div class="form-wrapper">
						<label for="email">Email</label>
						<input name="email"
						type="text"  id="email" class="form-control" required>
					</div>
					
                    <div class="form-wrapper ">

						<label for="numb">Mobile</label>
						<input name="number" type="tel" id="numb" class="form-control" required>
					</div> 
					
                   
					<div class="form-wrapper">
						<label for="password">Password</label>
						<input  name="password" type="password" id="password"class="form-control" required>
					</div>
					<p id="show-error"></p>
					<div class="form-wrapper">
						<label for="confirmPassword">Confirm Password</label>
						<input name="confirmPassword" type="password" id="confirmPassword"class="form-control" required>
					</div>
					<p id="show-confirm"></p>
					<div class="checkbox">
						<label>
							<input type="checkbox" required> I caccept the Terms of Use & Privacy Policy.
							<span class="checkmark"></span>
						</label>
					</div>
					<button  type="submit">Send OTP</button>
				</form>
			</div>
		</div>
	
		<script src="/js/signup.js"></script>

	</body>
</html>